<% layout('adminLayout') %>

<main class="pt-5 mx-lg-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h3 class="float-left">Chanage Password</h3>
				<hr>


				<form action="/admin/password-chnage" method="POST">

					<!-- Current Password -->
					<input
				    type="password"
				    name="password"
				    class="form-control mb-4"
				    placeholder="Current Password"
				    required
				    >

				    <!-- New Password -->
					<input
				    type="password"
				    name="new_password"
				    class="form-control mb-4"
				    placeholder="New Password"
				    required
				    >

				    <!-- Confirm Password -->
					<input
				    type="password"
				    name="confirm_password"
				    class="form-control mb-4"
				    placeholder="Confirm Password"
				    required
				    >

					<!-- Save in button -->
				    <button class="btn btn-info btn-block" type="submit">Chnage Password</button>
				</form>
			</div>
		</div>
	</div>
</main>
