<!-- Sidebar -->
    <div class="sidebar-fixed position-fixed overflow-auto">

      <a class="navbar-brand waves-effect" href="/admin/dashboard">
          <img src="/admin/img/logo.png" class="img-fluid rounded-circle" width="100%">
      </a>

      <div class="list-group list-group-flush">

        <a href="/admin/dashboard" class="list-group-item active waves-effect">
          <i class="fas fa-chart-pie mr-3"></i>Dashboard
        </a>
        <a href="/admin/profile" class="list-group-item list-group-item-action waves-effect">
        	<i class="fas fa-user mr-3"></i>Profile
    	</a>

      <a href="/admin-category/categories" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-clipboard-list mr-3"></i>Category
      </a>

      <a href="/admin-product/products" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-sitemap mr-3"></i>Product
      </a>

      <a href="/admin-role/roles" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-forward mr-3"></i>Admin Role
      </a>

      <a href="/admin/add-admin" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-user-plus mr-3"></i>Ad Admin
      </a>

      <a href="/admin/all-admin" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-users mr-3"></i>All Admin
      </a>

      <a href="/admin-order" class="list-group-item list-group-item-action waves-effect">
        	<i class="fas fa-money-bill-alt mr-3"></i>Orders
    	</a>

      <a href="/admin-order/profit" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-chart-line mr-3"></i>Profit
      </a>

      <a href="/admin-employee/employee" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-people-carry mr-3"></i>Employee
      </a>

      <a href="/admin-message/" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-envelope mr-3"></i>Messages
      </a>

      <a href="/admin-faq/" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-question mr-3"></i>Faq
      </a>

      <a href="/admin-shopinfo/" class="list-group-item list-group-item-action waves-effect">
          <i class="fas fa-info-circle mr-3"></i>Shop Info
      </a>

      </div>

    </div>
    <!-- Sidebar -->
