<footer class="footer page-footer font-small bg-dark mt-5">
	<!-- Copyright -->
  <div class="footer-copyright py-4 text-center text-white">© © <script>document.write(new Date().getFullYear())</script> Copyright: Copyright:
    <a href="/admin/dashboard">Samme Grocery Shop</a>
  </div>
  <!-- Copyright -->
</footer>
