

	<% if (typeof error_message !== 'undefined') { -%>
		<% if (error_message.length > 0) { -%>
		<div class="alert alert-warning alert-dismissable" role="alert">
		   <button type="button" class="close" data-dismiss='alert' aria-label="Close">
		   		<span aria-hidden="true">&times;</span>
		   </button>
		   <%= error_message %>
		</div>
		<% } -%>
	<% } -%>

	<% if (typeof message !== 'undefined') { -%>
		<% if (message.length > 0) { -%>
		<div class="alert alert-info alert-dismissable" role="alert">
		   <button type="button" class="close" data-dismiss='alert' aria-label="Close">
		   		<span aria-hidden="true">&times;</span>
		   </button>
		   <%= message %>
		</div>
		<% } -%>
	<% } -%>

